body {
  margin: 0;
  padding: 0;

}

.card{
  border:1px solid #EEEAE9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color:#FAF6F5;
}

#showHide {
  float: left;
  padding-bottom: 15px;
  color: #337ab7;
}

.btn{
  height:40px;
  width: 250px;
  font-weight: bold;
  margin-top: 10px;
}
#btn {
  margin-bottom: 20px;
}
.cardBtn{
  height:40px;
  width: 100px;
  font-weight: bold;
  float: right;
}

.loginBtn{
  width: 100px;
  float: left;
  margin-left: 60px;
  margin-bottom: 15px;
}

.inputForm{
  height:50px;
  width: 250px;
  margin-left: 55px;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #337ab7;
  overflow-x: hidden;
  padding-top: 100px;

}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #D8D6D6;
  display: block;

}

.sidebar a:hover {
  color: white;
}

.userListItem {
  text-align: left;
  margin-left: 10px;
}

img {
margin-bottom: 25px;
}
